.dropzone {
  position: absolute;
  min-width: 640px;
  max-width: 960px;
  min-height: 360px;
  max-height: 540px;
  width: 50vw;
  height: 50vh;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f7f7f7;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  justify-content: flex-end;
}

.dropzone > h3 {
  align-self: center;
}

.dropzone > p {
  font-family: monospace;
  font-size: 10pt;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 24px;
}
